{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2>Feedback List</h2>
  <a href="{% url 'feedback:new_feedback' %}" class="btn btn-primary mb-3">Submit Feedback</a>
{% endblock page_header %}

{% block content %}
  <ul class="list-group">
    {% for feedback in feedbacks %}
      <li class="list-group-item">
        {{ feedback.message }} - {{ feedback.user.username }} on {{ feedback.created_at }}
      </li>
    {% empty %}
      <li class="list-group-item">No feedbacks yet.</li>
    {% endfor %}
  </ul>
{% endblock content %}
